*/.gradle/*
*tmp/*
log
gradle_mock_project/local.properties
.env
static/bower_components/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
