files:
  "/home/ec2-user/sdk.tgz":
    mode: "000755"
    owner: root
    group: root
    source: "http://dl.google.com/android/android-sdk_r24.4.1-linux.tgz"

commands:
  android_sdk_install:
    command: tar xvzf sdk.tgz
    cwd: /home/ec2-user
    test: [ ! -d "sdk" ]

 files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/1000_install_sdk":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      export PATH=/home/ec2-user/sdk/:/home/ec2-user/sdk/tools:$PATH
      . /opt/elasticbeanstalk/support/envvars

      android list sdk > indexes.txt
  
	  deps=(
          "Android SDK Tools"
          "Android SDK Platform-tools"
          "Android SDK Build-tools"
          "SDK Platform Android 6.0"
          "SDK Platform Android 5.1.1"
          "Android Support Repository"
          "Android Support Library"
          "Google Play services"
          "Google Repository"
      )

	  function get_index {
	    grep $1 indexes.txt | sed -e 's/\(\d*\)-.*/\1/g' |  tr -d " \t\r" | head -1
      }

	  export IFS=$'\n'

      for lib in "${deps[@]}"
	  do
	  	idx=$(get_index $lib)
		android update sdk --no-ui --filter ${idx}
      done
