commands:
  android_sdk_install:
    command: tar xvzf sdk.tgz
    cwd: /home/ec2-user
    test: '[ ! -d "android-sdk-linux" ]'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/1000_install_sdk":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      export PATH=/home/ec2-user/android-sdk-linux/:/home/ec2-user/android-sdk-linux/tools:$PATH
      . /opt/elasticbeanstalk/support/envvars

      android list sdk --all > indexes.txt
  
      deps=("Android SDK Tools" "Android SDK Platform-tools" "Android SDK Build-tools" "SDK Platform Android 6.0" "SDK Platform Android 5.1.1" "Android Support Repository" "Android Support Library" "Google Play services" "Google Repository")

      export IFS=$'\n'
	  idxs=""
	  for lib in "${deps[@]}"
	  do
	        idxs="$idxs,$(grep $lib indexes.txt | sed -e 's/\(\d*\)-.*/\1/g' |  tr -d " \t\r" | head -1)"
	  done

      ( while [ 1 ]; do sleep 5; echo y; done ) | android update sdk --no-ui --filter ${idxs:1}