files:
  "/home/webapp/sdk.tgz":
    mode: "000755"
    owner: root
    group: root
    source: "http://dl.google.com/android/android-sdk_r24.4.1-linux.tgz"

commands:
  android_sdk_install:
    command: |
       tar xvzf sdk.tgz
       chmod -R 777 /home/webapp/android-sdk-linux 
    cwd: /home/webapp
    test: '[ ! -d "android-sdk-linux" ]'