commands:
  42_check_existing:
    command: 'mv /var/android/android-sdk-linux /home/webapp || true'
    test: '[ -d "/var/android/android-sdk-linux" ]'

  43_fetch_deps:
    command: |
      echo "deps"
      wget -qO- http://dl.google.com/android/android-sdk_r24.4.1-linux.tgz | tar xvz

      end=$((SECONDS+500)) # give it some time to finish. til a better solution is found

      while [ $SECONDS -lt $end ]; do echo y; sleep 4; done | /android-sdk-linux/tools/android update sdk --no-ui
    cwd: /home/webapp
    test: '[ ! -d "android-sdk-linux" ]'

  44_grant_privileges:
    command: 'chmod -R 777 android-sdk-linux'
    cwd: /home/webapp