commands:
  fetch_android_deps:
    command: |
      export PATH=/home/webapp/android-sdk-linux/:/home/webapp/android-sdk-linux/tools:$PATH
      . /opt/elasticbeanstalk/support/envvars

      android list sdk --all > indexes.txt
  
      deps=("Android SDK Tools" "Android SDK Platform-tools" "Android SDK Build-tools" "SDK Platform Android 6.0" "SDK Platform Android 5.1.1" "Android Support Repository" "Android Support Library" "Google Play services" "Google Repository")

      export IFS=$'\n'
      idxs=""
      for lib in "${deps[@]}"
      do
        idxs="$idxs,$(grep $lib indexes.txt | sed -e 's/\(\d*\)-.*/\1/g' |  tr -d " \t\r" | head -1)"
      done

      ( while [ 1 ]; do sleep 2; echo y; done ) | android update sdk --no-ui --filter ${idxs:1}

      /var/app/current/gradle_mock_project/gradlew
      cp -rf /root/.gradle /home/webapp

      chmod -R 777 /home/webapp/.gradle
