container_commands:
  42_fetch_sdk_index:
    command: |
      /home/webapp/android-sdk-linux/tools/android list sdk --all > indexes.txt
  
  43_fetch_deps:
    command: |
      echo "deps"
      deps=(
        "Android SDK Tools, revision 24.4.1" 
        "Android SDK Platform-tools, revision 23.0.1"
        "Android SDK Build-tools, revision 22.0.1"
        "Android SDK Build-tools, revision 21.1.2"
        "Android SDK Build-tools, revision 23.0.1" 
        "SDK Platform Android 6.0, API 23, revision 1" 
        "SDK Platform Android 5.1.1, API 22, revision 2" 
        "Android Support Repository, revision 24" 
        "Android Support Library, revision 23.1" 
        "Google Play services, revision 27" 
        "Google Repository, revision 22"
      )

      export IFS=$'\n'
      idxs=""
      for lib in "${deps[@]}"
      do
        idxs="$idxs,$(grep $lib indexes.txt | sed -e 's/\(\d*\)-.*/\1/g' |  tr -d " \t\r" | head -1)"
      done

      end=$((SECONDS+150)) # give it 2.5 minutes to finish. til a better solution is found

      while [ $SECONDS -lt $end ]; do echo y; sleep 4; done | /home/webapp/android-sdk-linux/tools/android update sdk --no-ui --filter ${idxs:1}
    env:
      ANDROID_HOME: /home/webapp/android-sdk-linux/

  44_install_gradle_deps:
    command: |
      /var/app/current/gradle_mock_project/gradlew
      cp -rf /root/.gradle /home/webapp

      chmod -R 777 /home/webapp/.gradle
