
<div id="important-notice-container" class="container card-container">
    <div id="important-notice-card" class="card">
        <h5>To all our beloved users</h5>
            <p class="flow-text about-paragraph">
            Due to the unsustainable costs for the platform and the lack of time to dedicate for improvements and optimizations, we sadly have to announce that the service will be discontinued. We will leave it in read-only mode for a while and later on shut it down. Code and database will be published, along with some statistics.<br/>
            Thanks to all of you for having supported the project and for the positive feedback you gave to us. Also thanks to the few people that gave us a donation over the last year.<br/>
            If any of you wants to stay in touch with us, follow us on Twitter or come to the Monterey bar in Berlin for a couple of beers when you have time.<br/><br/>
            Best,<br>
            Yours Methodscount Team
            </p>
    </div>
</div>