<div id="plugin-container" class="container card-container">
	<div id="plugin-card" class="card">
		<h5>Android Methods Count</h5>
			<p class="flow-text plugin-paragraph">A simple Studio/IntelliJ plugin that parses your Android library dependencies and shows the methods count as an handy hint.</p>
		<img class="" width="532" src="images/methods-count-plugin-1.png" />

			<p class="flow-text plugin-paragraph">For more information, you can simply tap on the blue circle to the left and you will land on the appropriate library page of this website.</p>
			
		 	<img class="" width="530" src="images/methods-count-plugin-2.png" />
	<br/>
	<h5>Installation</h5>
	 	<ol>
	 		<li>Open Android Studio / IntelliJ IDEA preferences</li>
	 		<li>Select 'Plugins'</li>
	 		<li>Select 'Browse repositories...'</li>
	 		<li>Select 'Android Methods Count' (or type some keywords in the search box)</li>
	 		<li>Press install and restart the IDE once the installation completes</li>
 		</ol>

 		<p class="flow-text plugin-paragraph">Alternatively, you can download the plugin archive from <a href="https://plugins.jetbrains.com/plugin/8076?pr=" target="_blank">here</a>.</p>

	</div>
</div>